<div *ngFor="let user of users">
  <h2>Proof of Space Generator for {{ user.name }}</h2>
  <button (click)="generateProofOfSpace(user)">Generate Proof of Space</button>
  <div class="result-container" *ngIf="proofOfSpaceResults[user.id]">
    <p
      class="reward-info"
      [ngClass]="{
        'reward-success': proofOfSpaceResults[user.id].success,
        'reward-failure': !proofOfSpaceResults[user.id].success
      }"
    >
      Reward Status:
      {{
        proofOfSpaceResults[user.id].spaceProof
          ? "Reward Obtained"
          : "Reward Not Obtained"
      }}
    </p>
  </div>
  <div
    *ngIf="awaitingProofOfSpace[user.id]"
    [ngStyle]="{
      'border-color': awaitingProofOfSpace[user.id]
        ? 'yellow'
        : proofOfSpaceResults[user.id]?.spaceProof
        ? 'green'
        : 'initial'
    }"
  >
    <p>Waiting for Proof of Space...</p>
  </div>
</div>
