/* Dodaj te style do swojego pliku CSS lub SCSS */
div {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #333;
    margin-bottom: 10px; /* Nowy styl */
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px; /* Nowy styl */
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  .result-container {
    display: flex;
    flex-direction: row; /* Zmieniono kierunek flexbox na wiersz */
    align-items: center;
  }
  
  .reward-info {
    margin-left: 10px; /* Nowy styl */
  }
  
  /* Nowy styl dodany, aby oddzielić kolumny */
  div:not(:last-child) {
    margin-right: 20px;
  }
  